<!DOCTYPE html>
<!-- saved from url=(0018)https://prout.top/ -->
<html><head>
  <%- include ("../partials/header.ejs") %>
</head>
  <body class="vsc-initialized">
    <img src="./stylesheets/kot.png" width="100" height="100" class="kotkot" onclick="playSound('/stylesheets/prout.mp3')">
    <h1>Sauvegarde du 1er classement</h1>
    <div class="s">
      <a href="s1" class="sl1" style="border-bottom: 1px solid rgb(238, 231, 218);">S1</a> 
      <a href="/" class="sl2" >S2</a>
    </div>
    <p class="time">Dernier prout: @neiza75 le <span class="">9/2 à 22h22m</span></p>

    <div class="list">
    <ul>
        
          
            <li><span class="username">neiza75</span> - <span class="score">100</span></li>
          
        
          
            <li><span class="username">fr0st1zsasuke</span> - <span class="score">100</span></li>
          
        
          
            <li><span class="username">useiessboy</span> - <span class="score">56</span></li>
          
        
          
            <li><span class="username">ak_onizuka</span> - <span class="score">55</span></li>
          
        
          
            <li><span class="username">deadzach44</span> - <span class="score">47</span></li>
          
        
          
            <li><span class="username">danadow</span> - <span class="score">42</span></li>
          
        
          
            <li><span class="username">tpab_</span> - <span class="score">37</span></li>
          
        
          
            <li><span class="username">nikaer_</span> - <span class="score">36</span></li>
          
        
          
            <li><span class="username">clu3tik</span> - <span class="score">33</span></li>
          
        
          
            <li><span class="username">keigo___</span> - <span class="score">29</span></li>
          
        
          
            <li><span class="username">shen__zi</span> - <span class="score">28</span></li>
          
        
          
            <li><span class="username">mohamed2806b</span> - <span class="score">28</span></li>
          
        
          
            <li><span class="username">madmonq</span> - <span class="score">24</span></li>
          
        
          
            <li><span class="username">pannacotttafugo</span> - <span class="score">24</span></li>
          
        
          
            <li><span class="username">nostral_</span> - <span class="score">23</span></li>
          
        
          
            <li><span class="username">froscha</span> - <span class="score">21</span></li>
          
        
          
            <li><span class="username">dr_keke</span> - <span class="score">19</span></li>
          
        
          
            <li><span class="username">erwannitoooo</span> - <span class="score">18</span></li>
          
        
          
            <li> <nobr class="goat">🐐</nobr> <span class="username">equinoxcae</span> - <span class="score">17</span></li>
          
        
          
            <li><span class="username">saylinqlf</span> - <span class="score">17</span></li>
          
        
          
            <li><span class="username">aoro_qlf</span> - <span class="score">15</span></li>
          
        
          
            <li><span class="username">lebeauche</span> - <span class="score">15</span></li>
          
        
          
            <li><span class="username">espating</span> - <span class="score">13</span></li>
          
        
          
            <li><span class="username">aizriaa</span> - <span class="score">13</span></li>
          
        
          
            <li><span class="username">kc_eyeshield</span> - <span class="score">13</span></li>
          
        
          
            <li> <nobr class="goat">🐐</nobr> <span class="username">hugocarmelo</span> - <span class="score">12</span></li>
          
        
          
            <li><span class="username">eryall</span> - <span class="score">12</span></li>
          
        
          
            <li><span class="username">reydnar</span> - <span class="score">10</span></li>
          
        
          
            <li><span class="username">sephy_y</span> - <span class="score">10</span></li>
          
        
          
            <li><span class="username">nesquikjiraya</span> - <span class="score">9</span></li>
          
        
          
            <li><span class="username">mac_rosbeat_</span> - <span class="score">9</span></li>
          
        
          
            <li><span class="username">ziblite</span> - <span class="score">8</span></li>
          
        
          
            <li><span class="username">befreesh</span> - <span class="score">7</span></li>
          
        
          
            <li><span class="username">jbzzedleplusbo</span> - <span class="score">7</span></li>
          
        
          
            <li><span class="username">moskito_1080</span> - <span class="score">7</span></li>
          
        
          
            <li><span class="username">trafalgarrhin</span> - <span class="score">7</span></li>
          
        
          
            <li><span class="username">nandishok</span> - <span class="score">7</span></li>
          
        
          
            <li><span class="username">beerus_samadz</span> - <span class="score">7</span></li>
          
        
          
            <li><span class="username">machal___</span> - <span class="score">6</span></li>
          
        
          
            <li><span class="username">dova_qlf</span> - <span class="score">6</span></li>
          
        
          
            <li><span class="username">tsuchiv2</span> - <span class="score">6</span></li>
          
        
          
            <li><span class="username">lopesahhhh</span> - <span class="score">6</span></li>
          
        
          
            <li><span class="username">decembre_</span> - <span class="score">6</span></li>
          
        
          
            <li><span class="username">omgjustice</span> - <span class="score">6</span></li>
          
        
          
            <li><span class="username">0lfu</span> - <span class="score">6</span></li>
          
        
          
            <li><span class="username">hamouze_</span> - <span class="score">6</span></li>
          
        
          
            <li><span class="username">xirthee</span> - <span class="score">6</span></li>
          
        
          
            <li><span class="username">kiswatch</span> - <span class="score">5</span></li>
          
        
          
            <li><span class="username">vantablack_10</span> - <span class="score">5</span></li>
          
        
          
            <li><span class="username">svmyy_</span> - <span class="score">5</span></li>
          
        
          
            <li><span class="username">razen_ka</span> - <span class="score">4</span></li>
          
        
          
            <li><span class="username">reykasai</span> - <span class="score">4</span></li>
          
        
          
            <li><span class="username">aokinc</span> - <span class="score">4</span></li>
          
        
          
            <li><span class="username">pyrakoqlf</span> - <span class="score">4</span></li>
          
        
          
            <li><span class="username">sufokaio</span> - <span class="score">4</span></li>
          
        
          
            <li><span class="username">shydrexx</span> - <span class="score">4</span></li>
          
        
          
            <li><span class="username">bouteilles</span> - <span class="score">4</span></li>
          
        
          
            <li><span class="username">zebinho15</span> - <span class="score">4</span></li>
          
        
          
            <li><span class="username">shrimpsharkbaby</span> - <span class="score">4</span></li>
          
        
          
            <li><span class="username">azkeko</span> - <span class="score">3</span></li>
          
        
          
            <li><span class="username">mujichi</span> - <span class="score">3</span></li>
          
        
          
            <li><span class="username">maalow</span> - <span class="score">3</span></li>
          
        
          
            <li><span class="username">ctroisa</span> - <span class="score">3</span></li>
          
        
          
            <li><span class="username">rodsy</span> - <span class="score">3</span></li>
          
        
          
            <li><span class="username">hideyoshiro</span> - <span class="score">3</span></li>
          
        
          
            <li><span class="username">bouledefire</span> - <span class="score">3</span></li>
          
        
          
            <li><span class="username">swainzo</span> - <span class="score">3</span></li>
          
        
          
            <li><span class="username">thomacd0</span> - <span class="score">3</span></li>
          
        
          
            <li><span class="username">yyirox</span> - <span class="score">3</span></li>
          
        
          
            <li><span class="username">praaly</span> - <span class="score">3</span></li>
          
        
          
            <li><span class="username">amyff</span> - <span class="score">2</span></li>
          
        
          
            <li><span class="username">gomusan_</span> - <span class="score">2</span></li>
          
        
          
            <li><span class="username">dodiii98</span> - <span class="score">2</span></li>
          
        
          
            <li><span class="username">momoh28</span> - <span class="score">2</span></li>
          
        
          
            <li><span class="username">yassin_znh</span> - <span class="score">2</span></li>
          
        
          
            <li><span class="username">mido________</span> - <span class="score">2</span></li>
          
        
          
            <li><span class="username">kisuke23</span> - <span class="score">2</span></li>
          
        
          
            <li><span class="username">graphasexe</span> - <span class="score">2</span></li>
          
        
          
            <li><span class="username">soleqz</span> - <span class="score">2</span></li>
          
        
          
            <li><span class="username">elkiikz</span> - <span class="score">2</span></li>
          
        
          
            <li><span class="username">zetrach</span> - <span class="score">2</span></li>
          
        
          
            <li><span class="username">paillettepayoux</span> - <span class="score">2</span></li>
          
        
          
            <li><span class="username">therealscofield_</span> - <span class="score">2</span></li>
          
        
          
            <li><span class="username">crane_divin</span> - <span class="score">2</span></li>
          
        
          
            <li><span class="username">jl_zepeck</span> - <span class="score">1</span></li>
          
        
          
            <li><span class="username">ayranman___</span> - <span class="score">1</span></li>
          
        
          
            <li><span class="username">maffeoh</span> - <span class="score">1</span></li>
          
        
          
            <li><span class="username">val_974</span> - <span class="score">1</span></li>
          
        
          
            <li><span class="username">kc_ekaliptus</span> - <span class="score">1</span></li>
          
        
          
            <li> <nobr class="goat">🐐</nobr> <span class="username">artefactus</span> - <span class="score">1</span></li>
          
        
          
            <li><span class="username">rayayn123</span> - <span class="score">1</span></li>
          
        
          
            <li><span class="username">aka_trip</span> - <span class="score">1</span></li>
          
        
          
            <li><span class="username">whyyu25</span> - <span class="score">1</span></li>
          
        
          
            <li><span class="username">ziina</span> - <span class="score">1</span></li>
          
        
          
            <li><span class="username">hagralinetechnology</span> - <span class="score">1</span></li>
          
        
          
            <li><span class="username">taiidana</span> - <span class="score">1</span></li>
          
        
          
            <li><span class="username">kcjojo94</span> - <span class="score">1</span></li>
          
        
          
            <li><span class="username">nono_qlf</span> - <span class="score">1</span></li>
          
        
          
            <li><span class="username">beelnutso</span> - <span class="score">1</span></li>
          
        
          
            <li><span class="username">lexaae_</span> - <span class="score">1</span></li>
          
        
          
            <li><span class="username">yofaraway</span> - <span class="score">1</span></li>
          
        
          
            <li><span class="username">03h7</span> - <span class="score">1</span></li>
          
        
          
            <li><span class="username">dimehzus</span> - <span class="score">1</span></li>
          
        
          
            <li><span class="username">tehkqi</span> - <span class="score">1</span></li>
          
        
          
            <li><span class="username">yassin__8</span> - <span class="score">1</span></li>
          
        
          
            <li><span class="username">dinasty75</span> - <span class="score">1</span></li>
          
        
          
            <li><span class="username">xatoooom</span> - <span class="score">1</span></li>
          
        
          
            <li><span class="username">tonz3</span> - <span class="score">1</span></li>
          
        
          
            <li><span class="username">hellokidale</span> - <span class="score">1</span></li>
          
        
          
            <li><span class="username">reddycule_adamo</span> - <span class="score">1</span></li>
          
        
          
            <li><span class="username">nairo667</span> - <span class="score">1</span></li>
          
        
          
            <li><span class="username">jeazyx_</span> - <span class="score">1</span></li>
          
        
          
            <li><span class="username">patocarbonara</span> - <span class="score">1</span></li>
          
        
          
            <li><span class="username">raitsuu_</span> - <span class="score">1</span></li>
          
        
          
            <li><span class="username">boya__a</span> - <span class="score">1</span></li>
          
        
          
            <li><span class="username">tyrel_l</span> - <span class="score">1</span></li>
          
        
          
            <li><span class="username">juya_2x</span> - <span class="score">1</span></li>
          
        
          
            <li><span class="username">lelab_</span> - <span class="score">1</span></li>
          
        
          
            <li><span class="username">hyuni_lol</span> - <span class="score">1</span></li>
          
        
          
            <li><span class="username">pafja</span> - <span class="score">1</span></li>
          
        
          
            <li><span class="username">ylies_tourelle</span> - <span class="score">1</span></li>
          
        
          
            <li><span class="username">deadnx</span> - <span class="score">1</span></li>
          
        
          
            <li><span class="username">beesoka</span> - <span class="score">1</span></li>
          
        
          
            <li><span class="username">azqo_</span> - <span class="score">1</span></li>
          
        
          
            <li><span class="username">camcamqlf</span> - <span class="score">1</span></li>
          
        
          
            <li><span class="username">neaps128</span> - <span class="score">1</span></li>
          
        
          
            <li><span class="username">ah4t_</span> - <span class="score">1</span></li>
          
        
          
            <li><span class="username">alexandrelacazette</span> - <span class="score">1</span></li>
          
        
          
            <li><span class="username">husspesos</span> - <span class="score">1</span></li>
          
        
          
            <li><span class="username">m_mahl</span> - <span class="score">1</span></li>
          
        
          
            <li><span class="username">br1dou_</span> - <span class="score">1</span></li>
          
        
          
            <li><span class="username">renxingiv</span> - <span class="score">-10</span></li>
          
         
        
    </ul>
    </div>
    <img src="./stylesheets/pepePoint.png" class="pepepoint" width="50" height="50">
    <p class="self">Fait par @03h7</p>
  


<script>

function playSound(url) {
  new Audio(url).play();
}

</script></body></html>